{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Tela login</title>
</head>
<body>
    <div id="titulo">
        <h1>SICAM-LAMAC</h1>
        <h2>Sistema de Cadastro para a Manutenção de Máquinas no LAMAC</h2>
    </div>
    <main class="container-sm">
        <div class="input-group input-group-lg mb-3" id="input">
            <span class="input-group-text" id="inputGroup-sizing-sm">Matrícula</span>
            <input type="text" class="form-control is-invalid" id="floatingInputGroup2" placeholder="Informe sua matrícula" required>
        </div>

        <div class="input-group input-group-lg mb-3" id="input">
            <span class="input-group-text" id="inputGroup-sizing-sm">Senha</span>
            <input type="password" class="form-control is-invalid" id="floatingInputGroup2" placeholder="Informe sua senha" required>
        </div>
        
        <a href="{% url 'inicio'%}">Fazer login</a>
        <a href="{% url 'cadastro_usuario'%}">Cadastrar-se</a>
</body>
</html>