/* #5a6b8c */
/* #071526 */
/* #bdd9f2 */
/* #f28d52 */
/* #f2f2f2 */

body{
        background-color: #bdd9f2;
    }   
#nav {
    background-color: #071526;
}
#titulo {
    margin: 4px;
    background-color: #071526;
    border: 5px solid #5a6b8c;
    border-radius: 5px;
}
h1, h2 {
    color: #f28d52;
    border-radius: 5px;
    margin: 10px 3px;
    padding: 10px 20px;
    background-color: #f2f4f3;
    font-family: "Merriweather", serif;
    font-style: italic;         
}

main {
    background-color: #f2f4f3;
    margin-top: 20px;
    padding: 5px;
    width: 90%;
    border: 2px solid #5a6b8c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
#input {
    padding: 1px;
    background-color: #5a6b8c;
    border: 2px solid #141115;
    border-radius: 5px;
}
button[type="submit"], a {
    background-color: #5a6b8c;
    border-radius: 5px;
    color: #bdd9f2;
    text-decoration: none;
    text-align: center;
} 
button[type="submit"]:hover, a:hover {
    border-radius: 5px;
    border: 2px solid #534d55;
    background-color: #f28d52;
}
hr {
    border: none;
    border-top: 2px dashed #999;
    margin: 0px 0px;
}
#nav .nav-link, #nav .navbar-brand {
    color: #f2f2f2;
}
#nav .navbar-brand {
    font-style: italic;
}
#nav .nav-link {
    margin: 7px
}